.background-image-login{
   background-image: url("https://www.krmangalam.edu.in/wp-content/uploads/2024/02/82bs_1-768x380-1.webp");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   color: white;
  

}